<!-- home.html -->
    <div class="jumbotron text-center">
        <!--<h2>About Us</h2>-->
        
       <div style="text-align: left;"> 
           <img src="img/sujeet.jpg" style="float: left;margin-right: 1%;"/>
           
            <p >
                Dr Sujeet Kumar<br />
                MBBS, MD Path<br />
                Has done his MBBS from NRS Medical college (Kolkata) &amp;
                MD Pathology from SGPGI Lucknow and is involved in teaching pathology in online/offline Mode to undergraduate students for PGMEE Exams.&nbsp;<br />
                
                Contact : +917753933150<br />
                Mail : ugpath@gmail.com
                
            </p>
       </div>
       
       <div style="margin-top: 20%;margin-bottom: 0%;">
        <p><span style="color: red;"> PG-MEDEG</span> <br />eMedLearn Question Bank<br />www.pgmeeuploads.com</p>
       </div>
   <!-- <div ng-repeat="(key, value) in menu">
            {{key}}
            <div ng-repeat="childMenu in value">
                
           
                <a ng-href="#/contact/{{childMenu.cat_id}}">{{childMenu.cat_name}}</a>
            </div>
</div>-->

        <!--<p>{{ message }}</p>-->
    </div>